/* Container for car grid layout */
.car-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    padding: 20px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    align-items: center;
    justify-content: center;
}

/* Styling for individual car cards */
.card {
    background-color: #fff;
    color: #000;
    overflow: hidden;
    transition: all 300ms ease;
    width: 510px;
    height: 260px;
    text-align: center;
    align-items: center;
    padding: 0;
    border-radius: 40px;
    border: none;
    border-right: 3px solid transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);}

.card img {
    width: 65%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.card h3,
.card p {
    text-transform: capitalize;
    margin: 0;
}

.card h3 {
    font-size: 20px;
}

.card p {
    font-size: 14px;
}

.card p strong {
    font-weight: bold;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-right: 3px solid #006A71;
}

.car-details {
    display: flex;
    width: 40%;
    padding: 10px 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.car-name-rate {
    display: flex;
    flex-direction: column;
}

.card-text {
    display: flex;
    flex-direction: column;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 22px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

.btn-rent:hover,
.btn-details:hover {
    background-color: #48A6A7;
    color: #fff;
    transition: all 0.4s ease;
}

.btn-disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Rental button styling */
.btn-rent,
.btn-details {
    background-color: #006A71;
    color: white;
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-disabled {
    background-color: #6c757d;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 40px;
    width: 70%;
    margin-top: 10px;
    cursor: not-allowed;
}


.no-cars {
    text-align: center;
}


/* Category badges */
.category-badge {
    padding: 3px 8px;
    border-radius: 40px;
    font-size: 0.8em;
    font-weight: bold;
}

.category-badge.free {
    background-color: #e0f7fa;
    color: #00796b;
}

/* Section headers */
.section-header {
    color: #006A71;
    width: fit-content;
    background-color: #fff;
    text-align: center;
    margin: 20px auto ;
    padding: 10px 20px;
    border-radius: 40px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    box-shadow:  0 2px 13px rgba(0, 0, 0, 0.2);
}
.premium-section:hover .section-header,
.regular-section:hover .section-header {
    border-top: 2px solid #006A71;
    border-bottom: 2px solid #006A71;

}
main {
    padding: 40px;
}

/* Status labels */
.available {
    color: #1e7e34;
    font-weight: bold;
}

.not-available {
    color: #99151b;
    font-weight: bold;
}

label{
    color: #006A71;
}

.btn-rent.disabled {
    pointer-events: none;
    opacity: 0.7;
}
