body {
    background-color: #f8f9fa;
    font-family: "League Spartan", sans-serif;
    color: #006A71;
    
}

.rental-request {
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 40px;
    padding: 30px;
    margin: 30px auto;
    font-size: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.mb-3 input {
    height: 35px;
    width: 50%;
}
.mb-3 input:hover {
    border-color: #006A71;
}

.rental-request:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.car-image {
    width: 100%px;
    height: 250px;
    object-fit: cover;
    border-radius: 40px;
    margin-bottom: 20px;
}

.price-info {
    background: #e9ecef;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0;
}

.original-price {
    text-decoration: line-through;
    color: #dc3545;
}

.date-picker {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.submit-button {
    margin: 15px;
    background: #006A71;
    width: 60%;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: transform 0.3s ease;
}

.submit-button:hover {
    transform: scale(1.01);
    border-bottom: 2px solid #006A71;
    border-top: 2px solid #006A71;
    transition: all 200ms ease-in-out;
}
/* Footer Styles */
.footer-container {
    background: #006A71;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social-links a {
    color: white;
    font-size: 1.2em;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}


.message {
    font-family: "League Spartan", sans-serif;
    padding: 10px 15px;
    border-radius: 40px;
    width: fit-content;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.success-message {
    color: #006A71; 
}

.error-message {
    background-color: #fdeaea; 
    color: #b00020; 
}